#game-render-target {
    display: flex;
}

#game-grid {
    margin: auto;
}

#game-grid .block.snake {
    background-color: green;
}

#game-grid .block.snake-head {
    background-color: limegreen;
}

#game-grid .block.snake-tail {
    background-color: green;
}

#game-grid .block.dot {
    background-color: orange;
    border-radius: 16px;
}


#game-grid .block {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgba(210, 210, 210, 0.1);
    box-sizing: border-box;    
}

#game-grid .block.bottom-wall {
    border-bottom: 1px solid rgba(210, 210, 210, 0.4);
}
#game-grid .block.top-wall {
    border-top: 1px solid rgba(210, 210, 210, 0.4);
}
#game-grid .block.left-wall {
    border-left: 1px solid rgba(210, 210, 210, 0.4);
}
#game-grid .block.right-wall {
    border-right: 1px solid rgba(210, 210, 210, 0.4);
}

@media (max-width: 767px) {
    #game-grid .block {
        width: 1em;
        height: 1em;
    }
}

@media (max-width: 535px) {
    #game-grid .block {
        width: 0.75em;
        height: 0.75em;
    }
}

@media (max-width: 425px) {
    #game-grid .block {
        width: 0.55em;
        height: 0.55em;
    }
}